html {
  cursor: url('../img/svg/cursor-black&green.svg'), pointer;
}

a,
a:hover {
  cursor: url('../img/svg/cursor-black&green.svg'), pointer;
}

button,
button:hover {
  cursor: url('../img/svg/cursor-black&green.svg'), pointer;
}
