<section class="colection">
  <div class="wrapper">
    <h3 class="wow animate__animated animate__bounceInLeft">Нові надходження</h3>
    <ul class="products_list products_list-sec about__item wow animate__animated animate__fadeInRightBig">
      <li class="products_item">
        <div class="img_wrapper img_wrapper-height blur">
          <img src="./img/watch/ses-watch-3.png" alt="watch" class="products_item-img"/>
          <a href="#" class="link z-index">Показати Всі</a>
        </div>
      </li>
    </ul>
  </div>
</section>
