<footer>
  <div class="footer_block">
    <div class="wrapper">
      <ul class="footer_container">
        <li class="footer_about">
          <h4 class="footer_title">Про компанію</h4>
          <p>
            Компанія PORTEN – лідер на українському ринку годинників. На цей час
            ми об'єднуємо більше сорока магазинів у різних куточках України та
            інтернет-магазин, який став першим в нашому сегменті ринку. Торгова
            мережа PORTEN – офіційний дистриб'ютор більше 50 найвідоміших
            годинникових марок, починаючи від японської CASIO, закінчуючи
            швейцарськими LONGINES, ZENITH, TAG HEUER. Однак компанія не
            обмежується лише годинниками – в інтернет-магазині та бутіках мережі
            ви знайдете прекрасні ювелірні вироби від таких іменитих брендів, як
            SWAROVSKI и CHRISTINA.
          </p>
        </li>

        <li class="footer_categories">
          <h4 class="footer_title">Категорії</h4>
          <div class="footer_categories-list">
            <a href="#" class="footer_categories-items"> годинники </a>
            <a href="#" class="footer_categories-items"> запонки </a>
            <a href="#" class="footer_categories-items"> ремені </a>
            <a href="#" class="footer_categories-items"> ювелірні вироби </a>
            <a href="#" class="footer_categories-items"> на замовлення </a>
            <a href="#" class="footer_categories-items"> браслети </a>
          </div>
        </li>

        <li class="footer_distribution">
          <h4 class="footer_title">Розсилка</h4>
          <p class="footer_paragraph">
            Компанія пропонує тільки оригінальну продукцію від найвідоміших
            світових брендів за найкращою ціною. Ми дбаємо про комфорт наших
            покупців і постійно розширюємо можливості сервісного обслуговування.
          </p>
          <div class="footer_subscribe">
            <input class="footer_input" type="email" placeholder="Ваша почта" />
            <button class="footer_btn">ПІДПИСАТИСЯ</button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer_copyright">
    <div class="wrapper">
      <ul class="footer_sec-block">
        <li>
          <span>&copy; 2022 PORTEN, Інтернет-магазин годинників</span>
        </li>
        <li><span class="footer_copyright_text">Угода користувача</span></li>
      </ul>
    </div>
  </div>
</footer>
