<header>
  <div class="header_top">
    <div class="wrapper flex">
      <ul class="header_contacts">
        <li class="header_contacts-item contacts_phone">
          <a href="tel:+88121234567">
            <svg width="14" height="14">
              <use href="./img/svg/symbol-defs.svg#icon-phone"></use>
            </svg>
            8 (812) 123-45-67</a
          >
        </li>
        <li class="header_contacts-item">Працюємо 7 днів на тиждень</li>
        <li class="header_contacts-item">9:00 — 18:00</li>
      </ul>

      <ul class="header_contacts">
        <li>
          <a class="header_signBtn" href="#">
            <svg width="14" height="14">
              <use href="./img/svg/symbol-defs.svg#icon-log-in"></use></svg
            >Вхід</a
          >
        </li>
        &nbsp;/&nbsp;
        <li><a href="#">Реєстрація</a></li>
      </ul>
    </div>
  </div>

  <!-- HEADER -->
  <div class="bottom_line">
    <div class="wrapper">
      <div class="logo">
        <a href="#">
          <img src="./img/logo.png" alt="logotype" />
        </a>
      </div>

      <nav>
        <button class="burger_btn" id="toggle-menu">
          <svg width="16" height="16" fill="white">
            <use href="./img/svg/symbol-defs.svg#icon-menu"></use>
          </svg>
        </button>

        <div class="header_nav" id="nav-menu">
          <button class="header_close" id="close-menu">
            <svg width="16" height="16" fill="white">
              <use href="./img/svg/symbol-defs.svg#icon-close"></use>
            </svg>
          </button>

          <ul class="header_nav-list">
            <li class="header_nav-help_items">
              <a class="active header_nav_item" href="#">Сподобалось</a>
            </li>
            <li class="header_nav-help_items">
              <a href="#" class="header_nav_item">Особистий кабінет</a>
            </li>
            <li class="header_nav-help_items">
              <a href="#" class="header_nav_item">Налаштування</a>
            </li>
          </ul>

          <ul class="header_contact-mob">
            <li>
              <a class="header_signBtn" href="#">
                <svg width="14" height="14" class="icon-arrow-right-bold">
                  <use href="./img/svg/symbol-defs.svg#icon-log-in"></use></svg
                >Вхід</a
              >
            </li>
            &nbsp;/&nbsp;
            <li><a href="#">Реєстрація</a></li>
          </ul>
        </div>

        <ul class="header_nav-help">
          <li class="header_nav-help_items">
            <a href="#" class="header_nav_item">
              <svg width="22" height="22" class="icon-arrow-right-bold">
                <use href="./img/svg/symbol-defs.svg#icon-box"></use></svg
            ></a>
          </li>
          <li class="header_nav-help_items">
            <a href="#" class="header_nav_item">
              <svg width="22" height="22" class="icon-arrow-right-bold">
                <use href="./img/svg/symbol-defs.svg#icon-search"></use></svg
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
