<!-- hero -->
<section class="hero">
  <div class="hero_porten wow animate__animated animate__fadeInDownBig">
    <h1 class="hero_porten-title">porten</h1>
    <span class="hero_porten-span">івано-франківськ</span>
  </div>

  <p class="hero_descr wow animate__animated animate__bounceInLeft">
    В магазинах Торговельній мережі Porten ви можете купити годинник у Бахмуті,
    Вінниці, Дніпрі, Житомирі, Запоріжжі, Івано-Франківську, Києві,
    Краматорську, Луцьку, Львові, Одесі, Покровську, Полтаві, Рівному,
    Слов'янську, Сумах, Тернополі, Харкові, Херсоні, Хмельницькому, Черкасах,
    Чернівцях, Чернігові , а також багатьох інших містах України
  </p>
</section>
