<!--  hero second  -->
<section class="hero_second">
  <div class="hero_new-season">
    <h3 class="wow animate__animated animate__bounceInLeft">СЕЗОН 2021/22</h3>

    <ul class="products_list-first products_list multiple-items"></ul>
  </div>

  <div class="hero_new-collection">
    <div class="content">
      <h3 class="wow animate__animated animate__bounceInRight">
        Нова колекція
      </h3>
      <a href="#" class="link wow animate__animated animate__bounceInRight"
        >Каталог</a
      >
    </div>
  </div>
</section>
