<!--  hero last  -->
<section class="hero_last">
  <div class="img_block"></div>
  <div class="hero_last-collection">
    <div class="content wow animate__animated animate__bounceInRight">
      <h3>Колекція 2018</h3>
      <p class="hero_last-inf">
        Годинники як інструмент визначення часу давно і надійно прижилися в
        людській реальності. Романтики та прагматики, художники та бізнесмени,
        чоловіки та жінки, дорослі та діти - всі хочуть знати котра година в
        потрібний момент. Скільки хвилин пройшло, скільки залишилося, а ще - які
        саме моделі і якого бренду виблискують на руці у друга, коханої або
        конкурента. З давніх часів, коли людина здогадався втикнути в землю
        паличку та іншою поличкою взявся відміряти рівні проміжки часу на піску,
        не вщухають суперечки - яким повинний бути годинник? Наручним, або
        настільним, або настінним, або, нарешті, підлоговим? Чому ж кожен
        діамантик на безеле або шестерінка в механізмі незмінно змушують
        гордовито випнутися нижню губу володаря аксесуара, а щоки - роздутися?
      </p>
      <a href="#" class="link hero_last-link">Переглянути колекцію</a>
    </div>
  </div>
</section>