<section class="partners">
  <div class="wrapper">
    <h3 class="wow animate__animated animate__fadeInRightBig">Наші партнери</h3>

    <div class="partners_list">
      <div
        class="partners_item about__item wow animate__animated animate__fadeInRightBig"
        data-wow-duration="1s"
        data-wow-delay="0.3s"
      >
        <img src="./img/partner/partner-1.png" alt="partner" />
      </div>

      <div
        class="partners_item about__item wow animate__animated animate__fadeInRightBig"
        data-wow-duration="1s"
        data-wow-delay="0.5s"
      >
        <img src="./img/partner/partner-2.png" alt="partner" />
      </div>

      <div
        class="partners_item about__item wow animate__animated animate__fadeInRightBig"
        data-wow-duration="1s"
        data-wow-delay="0.7s"
      >
        <img src="./img/partner/partner-3.png" alt="partner" />
      </div>

      <div
        class="partners_item about__item wow animate__animated animate__fadeInRightBig"
        data-wow-duration="1s"
        data-wow-delay="0.9s"
      >
        <img src="./img/partner/partner-4.png" alt="partner" />
      </div>
    </div>
  </div>
</section>
