<section class="partners">
  <div class="wrapper">
    <h3>Наші партнери</h3>

    <div class="partners_list">
      <div class="partners_item">
        <img src="./img/partner/partner-1.png" alt="partner" />
      </div>

      <div class="partners_item">
        <img src="./img/partner/partner-2.png" alt="partner" />
      </div>

      <div class="partners_item">
        <img src="./img/partner/partner-3.png" alt="partner" />
      </div>

      <div class="partners_item">
        <img src="./img/partner/partner-4.png" alt="partner" />
      </div>
    </div>
  </div>
</section>
